@use 'sass:math';
@import 'mixin';
@import 'variables';

@function calcSize($size, $n) {
  @if $n != 1 {
    @return math.ceil(math.div($size, $n) * 1.5);
  } @else {
    @return math.ceil($size);
  }
}

@function calcMobileSize($size, $n) {
  @if $n != 1 {
    @return math.ceil(math.div(math.div($size, 2), $n) * 1.5);
  } @else {
    @return math.ceil(math.div($size, 2));
  }
}

@for $i from 1 through 6 {
  $font_size: calcSize(
    $size: $h1_font_size,
    $n: $i,
  );
  $mobile_font_size: calcMobileSize(
    $size: $h1_font_size,
    $n: $i,
  );
  $line_height: calcSize(
    $size: $h1_line_height,
    $n: $i,
  );
  $mobile_line_height: calcMobileSize(
    $size: $h1_line_height,
    $n: $i,
  );

  h#{$i} {
    font-family: 'Merriweather', serif;
    @include responsiveFont(#{$font_size}, #{$mobile_font_size});
    @include responsiveLineHeight(#{$line_height}, #{$mobile_line_height});
    letter-spacing: 0.5px;
    font-weight: 700;
    color: $white;
    margin: 15px 0;
  }
}
