@use "sass:math";
@import "mixin";
@import "variables";

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
  url('#{$path_to_Merriweather}Merriweather-Bold.woff2') format('woff2'),
  url('#{$path_to_Merriweather}Merriweather-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Regular'), local('Manrope-Regular'),
  url('#{$path_to_Manrope}Manrope-Regular.woff2') format('woff2'),
  url('#{$path_to_Manrope}Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
  url('#{$path_to_Manrope}Manrope-Light.woff2') format('woff2'),
  url('#{$path_to_Manrope}Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Medium'), local('Manrope-Medium'),
  url('#{$path_to_Manrope}Manrope-Medium.woff2') format('woff2'),
  url('#{$path_to_Manrope}Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'Manrope', sans-serif;
}

$h1_font_size : 50;
$h1_line_height: 60;
@function calcSize($size, $n) {
  @if $n != 1 {
    @return math.ceil(math.div($size, $n) * 1.5);
  } @else {
    @return math.ceil($size);
  }
}
@function calcMobileSize($size, $n) {
  @if $n != 1 {
    @return math.ceil(math.div(math.div($size, 2), $n) * 1.5);
  } @else {
    @return math.ceil(math.div($size, 2));
  }
}
@for $i from 1 through 6 {
  $font_size: calcSize($size: $h1_font_size, $n: $i);
  $mobile_font_size: calcMobileSize($size: $h1_font_size, $n: $i);
  $line_height: calcSize($size: $h1_line_height, $n: $i);
  $mobile_line_height: calcMobileSize($size: $h1_line_height, $n: $i);

  h#{$i} {
    font-family: 'Merriweather', serif;
    @include responsiveFont(#{$font_size}, #{$mobile_font_size});
    @include responsiveLineHeight(#{$line_height}, #{$mobile_line_height});
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #4F4F64;
    margin: 15px 0;
  }
}

.container {
  max-width: #{$container-width}px;
  margin: 0 auto;
  padding: 0 20px;
}
