@import 'variables';

body {
  // background-color: #27282c;
  background-color: #1e212a;
  color: $font-color;
}

a {
  color: $font-color;

  &:hover {
    color: $white;
  }
}

.main {
  margin-top: 15px;
}

.content-wrapper {
  margin: 70px 0;
}

.container {
  max-width: #{$container-width}px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  &:before {
    content: '';
    position: absolute;
    inset: 0 -25% 0 auto;
    width: 125%;
    transition: 0.3s ease-in;
    background: $default-gradient;
  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;

    & img {
      min-width: 100px;
    }
  }

  &:hover {
    &:before {
      inset: 0 0 0 auto;
    }
  }
}

.glass-item {
  background-color: #fff1;
  box-shadow: 0 0 0 1px #fff3;
  transition: 0.3s ease;

  &:hover {
    background-color: #fff3;
    box-shadow: 0 0 0 1px #fff3;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 40%;
  margin: 0 auto;
  padding: 25px;
  background-color: #282C36;
  border-radius: 12px;
  border: 1px solid #5f6873;

  &-field {
    &.between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


