@import 'variables';

.link {
  color: $font-color;
  &.dark {
    color: $font-color-dark;
  }
  &:hover {
    background-image: $default-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  &.green {
    color: $white;
    background: $green;
    padding: 10px 25px;
    transition: .1s ease;
    border-radius: 4px;
    outline: 0 solid #2dab7250;
    &:active, &:focus {
      outline: 4px solid #2dab7250;
    }
  }
}

.input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 6px;
  background: #fff1;
  transition: 0.3s ease-in-out;
  border: 1px solid #57606a;
  color: #fff;
  letter-spacing: 1px;
  &::placeholder {
    color: $font-color;
  }

  &:hover {
    box-shadow: inset 2px 2px 9px #fff4, inset -5px -5px 15px #0004;
  }

  &:focus {
    background: $white;
    color: $font-color-dark;

    &::placeholder {
      color: $font-color-dark;
    }
  }
}
