$path_to_Merriweather: '~assets/fonts/Merriweather/';
$path_to_Manrope: '~assets/fonts/Manrope/';
$container-width: 1440;
$min-width: 320;
$h1_font_size: 50;
$h1_line_height: 60;
$font-color: #e1e1e1;
$font-color-dark: #212126;
$black: #000000;
$white: #ffffff;
$green: #2ea44f;
$default-gradient: linear-gradient(45deg, #1ceeff, #3e3eeb, #b004ff);
